<nz-page-header class="mobile-header" nzTitle="Gerenciar Pacientes"></nz-page-header>
<nz-divider></nz-divider>
<form nz-form nzLayout="vertical" [formGroup]="filterPacientForm" (ngSubmit)="getPacients()">
  <h1>Filtros</h1>
  <nz-row nzGutter="12">

    <nz-col nzSm="8" nzXs="24">
      <nz-form-item>
        <nz-form-label>Nome do paciente</nz-form-label>
        <nz-form-control nzErrorTip="Informe um nome válido">
          <input formControlName="username" nz-input placeholder="Nome do paciente"/>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSm="8" nzXs="24">
      <nz-form-item>
        <nz-form-label>E-mail</nz-form-label>
        <nz-form-control>
          <input formControlName="email" nz-input placeholder="E-mail"/>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSm="8" nzXs="24">
      <nz-form-item>
        <nz-form-label>Telefone</nz-form-label>
        <nz-form-control>
          <input mask="(00) 0*-0000" formControlName="phone" nz-input placeholder="Telefone"/>
        </nz-form-control>
      </nz-form-item>
    </nz-col>


    <nz-col nzSm="8" nzXs="24">
      <nz-form-item>
        <nz-form-label>Endereço</nz-form-label>
        <nz-form-control>
          <input formControlName="address" nz-input placeholder="Endereço"/>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSm="8" nzXs="24">
      <nz-form-item>
        <nz-form-label>UF</nz-form-label>
        <nz-form-control>
          <nz-select
            nzPlaceHolder="Selecione UF"
            nzAllowClear
            nzShowSearch
            formControlName="uf"
          >
            <nz-option *ngFor="let uf of ufs" [nzValue]="uf.value" [nzLabel]="uf.label"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>

    <nz-col nzSm="8" nzXs="24">
      <nz-form-item>
        <nz-form-label>Gênero</nz-form-label>
        <nz-form-control>
          <nz-select
            id="gender"
            nzPlaceHolder="Gênero"
            nzAllowClear
            nzShowSearch
            formControlName="gender"
            required>
            <nz-option [nzValue]="'Masculino'" [nzLabel]="'Masculino'"></nz-option>
            <nz-option [nzValue]="'Feminino'" [nzLabel]="'Feminino'"></nz-option>
            <nz-option [nzValue]="'Outro'" [nzLabel]="'Outro'"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col class="button-group" nzSpan="24">
      <button
        nz-button
        nzSize="large"
        type="button"
        style="margin-right: 5px"
        [nzLoading]="isLoading"
        [disabled]="isLoading"
        (click)="clearForm()"
      >
        Limpar
      </button>
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        type="submit"
        [disabled]="isLoading"
        [nzLoading]="isLoading"
      >
        <i nz-icon nzType="search" nzTheme="outline"></i>
        Filtrar
      </button>

    </nz-col>
  </nz-row>
</form>

<nz-spin [nzSpinning]="isLoading">
  <nz-divider
    nzText="Encontrados: {{ totalPacients }} "
    nzOrientation="left"
    *ngIf="!!totalPacients"></nz-divider>
  <div nz-row class="table-responsive">
    <nz-table
      nzShowSizeChanger
      [nzData]="pacientsData"
      nzSize="default"
      [nzFrontPagination]="false"
      [nzShowPagination]="showPagination"
      [nzTotal]="totalPacients"
      [nzPageIndex]="pageIndex"
      [nzPageSize]="pageSize"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
    >
      <thead>
      <tr>
        <th>Ações</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Profissão</th>
        <th>Estado</th>
        <th>Data de nascimento</th>
        <th>Gênero</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pacient of pacientsData">
        <td>
          <button nz-button nzShape="circle" title="Editar paciente" style="margin-left: 5px"
                  (click)="openEditPacientModal(pacient)">
            <span nz-icon nzType="edit"></span>
          </button>
          <button
            nz-button
            (click)="openPacientReport(pacient)"
            nzShape="circle"
            title="Visualizar ficha"
            style="margin-left: 5px"
            [disabled]="!pacient.report"
            nz-tooltip
            [nzTooltipTitle]="pacient.report ? 'Visualizar ficha de anamnese' : 'Paciente ainda não possui ficha registrada'"
          >
            <span nz-icon nzType="file-search"></span>
          </button>
          <button
            nz-button
            (click)="openScheduleAppointment(pacient)"
            nzShape="circle"
            title="Encaminhar Paciente"
            style="margin-left: 5px"
            nz-tooltip
            [nzTooltipTitle]="pacient.appointment ? 'Paciente já encaminhado' : 'Encaminhar Paciente'"
          >
            <span nz-icon nzType="swap-right"></span>
          </button>

        </td>

        <td>{{ pacient.username }}</td>
        <td>{{ pacient.email }}</td>
        <td>{{ pacient.phone }}</td>
        <td>{{ pacient.address }}</td>
        <td>{{ pacient?.profession ? pacient.profession : '---' }}</td>
        <td>{{ pacient.uf }}</td>
        <td>{{ pacient.birth ? (pacient.birth | date:'dd/MM/yyyy') : '---' }}</td>
        <td>{{ pacient.gender }}</td>

      </tr>
      </tbody>


    </nz-table>

  </div>
</nz-spin>



<nz-modal
  [(nzVisible)]="showScheduleAppointmentModal"
  nzTitle="Encaminhar paciente - {{selectedPacient?.username}}"
  [nzWidth]="800"
  (nzOnOk)="scheduleAppointment()"
  (nzOnCancel)="showScheduleAppointmentModal = false"
  [nzOkDisabled]="!selectedAppointmentDate || !selectedAppointmentTime"
>
  <div *nzModalContent>

    <p style="text-align: center;">
      {{ profissionalAvailableData.length ? 'Seus horários' : 'Nenhum horário disponível' }}
    </p>

    <nz-table
      *ngIf="profissionalAvailableData?.length"
      [nzData]="profissionalAvailableData"
      nzSize="small"
      nzBordered
    >
      <thead>
      <tr>
        <th>Dia da semana</th>
        <th>Início</th>
        <th>Fim</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let horario of profissionalAvailableData">
        <td>{{ horario.dayOfWeek }}</td>
        <td>{{ horario.startTime?.slice(0, 5) }}</td>
        <td>{{ horario.endTime?.slice(0, 5) }}</td>
      </tr>
      </tbody>
    </nz-table>

    <div style="margin-top: 24px;">
      <!-- Data -->
      <nz-form-item>
        <nz-form-label nzRequired>Data do agendamento</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="'Campo obrigatório'">
          <nz-date-picker
            style="width: 100%;"
            [(ngModel)]="selectedAppointmentDate"
            [nzFormat]="'dd/MM/yyyy'"
            [nzDisabledDate]="disablePastDates"
            name="appointmentDate"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <!-- Hora -->
      <nz-form-item>
        <nz-form-label nzRequired>Hora do agendamento</nz-form-label>
        <nz-form-control nzHasFeedback [nzErrorTip]="'Campo obrigatório'">
          <nz-time-picker
            style="width: 100%;"
            [(ngModel)]="selectedAppointmentTime"
            nzFormat="HH:mm"
            nzUse12Hours="false"
            name="appointmentTime"
          ></nz-time-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
</nz-modal>


<!-----------------MODAL PARA EDITAR PACIENTE----------------->
<nz-modal
  [(nzVisible)]="editPacientModal"
  nzTitle="Editar Paciente"
  [nzWidth]="800"
  (nzOnOk)="updatePacient()"
  (nzOnCancel)="editPacientModal = false"
>
  <div *nzModalContent>
    <form [formGroup]="editPacientForm">
      <nz-row nzGutter="24">

        <nz-col nzSpan="24">
          <h3>Nome</h3>
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <input formControlName="username" id="username" nz-input placeholder="Nome completo" />
            </nz-form-control>
          </nz-form-item>


          <h3>Telefone</h3>
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <input formControlName="phone" id="phone" mask="(00) 0*-0000" nz-input placeholder="Telefone" />
            </nz-form-control>
          </nz-form-item>

          <h3>E-mail</h3>
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <input formControlName="email" id="email" nz-input type="email" placeholder="E-mail" />
            </nz-form-control>
          </nz-form-item>

          <h3>Profissão</h3>
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <input formControlName="profession" id="profession" nz-input placeholder="Profissão" />
            </nz-form-control>
          </nz-form-item>

          <h3>Endereço</h3>
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <input formControlName="address" id="address" nz-input placeholder="Endereço" />
            </nz-form-control>
          </nz-form-item>

          <h3>UF</h3>
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <nz-select
                nzPlaceHolder="Selecione UF"
                nzAllowClear
                nzShowSearch
                formControlName="uf"
              >
                <nz-option *ngFor="let uf of ufs" [nzValue]="uf.value" [nzLabel]="uf.label"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <h3>Gênero</h3>
          <nz-form-item>
            <nz-form-control [nzSpan]="24">
              <nz-select
                nzPlaceHolder="Gênero"
                nzAllowClear
                nzShowSearch
                formControlName="gender"
                required>
                <nz-option [nzValue]="'Masculino'" [nzLabel]="'Masculino'"></nz-option>
                <nz-option [nzValue]="'Feminino'" [nzLabel]="'Feminino'"></nz-option>
                <nz-option [nzValue]="'Outro'" [nzLabel]="'Outro'"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </form>
  </div>
</nz-modal>

<!-------------------MODAL PARA VISUALIZAR FICHA DO PACIENTE----------------->
<nz-modal
  [(nzVisible)]="showReportModal"
  [nzTitle]="selectedReport?.pacientName || ''"
  [nzFooter]="null"
  [nzWidth]="800"
  (nzOnCancel)="showReportModal = false"
>
  <div *nzModalContent>
    <nz-descriptions
      [nzColumn]="2"
      nzBordered
    >
      <nz-descriptions-item nzTitle="Data da Ficha" [nzSpan]="2">
        {{ selectedReport?.reportDateTime | date: 'dd/MM/yyyy HH:mm' }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Histórico Médico" [nzSpan]="2">
        {{ selectedReport?.medicalHistory }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Medicações Atuais" [nzSpan]="2">
        {{ selectedReport?.currentMedications }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Problemas Cardiovasculares">
        {{ selectedReport?.cardiovascularIssues ? 'Sim' : 'Não' }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Diabetes">
        {{ selectedReport?.diabetes ? 'Sim' : 'Não' }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Hist. Fam. Cardiovasculares">
        {{ selectedReport?.familyHistoryCardiovascularIssues ? 'Sim' : 'Não' }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Hist. Fam. Diabetes">
        {{ selectedReport?.familyHistoryDiabetes ? 'Sim' : 'Não' }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Atividade Física" [nzSpan]="2">
        {{ selectedReport?.physicalActivity }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Fumante">
        {{ selectedReport?.smoker ? 'Sim' : 'Não' }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Álcool (0-10)">
        {{ selectedReport?.alcoholConsumption }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Contato de Emergência" [nzSpan]="2">
        {{ selectedReport?.emergencyContactName }} - {{ selectedReport?.emergencyContactPhone }}
      </nz-descriptions-item>

      <nz-descriptions-item nzTitle="Observações" [nzSpan]="2">
        {{ selectedReport?.observations || 'Nenhuma observação registrada.' }}
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
</nz-modal>



