<ng-container>
  <form
    nz-form
    class="login-form"
    nzLayout="vertical"
    [formGroup]="createUserForm"
    (ngSubmit)="createUser()"
  >


    <!-- Campo de Username -->
    <nz-form-item>
      <nz-form-label nzFor="username" nzRequired>Nome do Profissional:</nz-form-label>
      <nz-form-control nzErrorTip="Informe um nome válido!" nzHasFeedback>
        <nz-input-group nzPrefixIcon="user" nzSize="large">
          <input
            type="text"
            nz-input
            formControlName="username"
            placeholder="Nome do instituição"
            id="username"
            autocomplete="username"
            required
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Campo de Email -->
    <nz-form-item>
      <nz-form-label nzFor="username" nzRequired>E-mail:</nz-form-label>
      <nz-form-control nzErrorTip="Informe um nome válido!" nzHasFeedback>
        <nz-input-group nzPrefixIcon="mail" nzSize="large">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="E-mail"
            id="email"
            autocomplete="email"
            required
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <!-- Campo de senha -->
    <nz-form-item>
      <nz-form-label nzFor="username" nzRequired>Senha:</nz-form-label>
      <nz-form-control nzErrorTip="Informe uma senha válida!" nzHasFeedback>
        <nz-input-group nzPrefixIcon="password" nzSize="large">
          <input
            type="password"
            nz-input
            formControlName="password"
            placeholder="Senha"
            id="password"
            autocomplete="password"
            required
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


    <!-- Campo de Especialidades -->
    <nz-col nzSm="24" nzXs="24">
      <nz-form-item>
        <nz-form-label nzFor="uf">Especialidade</nz-form-label>
        <nz-form-control nzErrorTip="Escolha uma especialidade!">
          <nz-input-group nzSize="large">
            <nz-select
              id="uf"
              nzPlaceHolder="Selecione uma especialidade"
              nzAllowClear
              nzShowSearch
              formControlName="speciality"
              style="width: 100%;"
            >
            <nz-option *ngFor="let state of states" [nzValue]="state.value" [nzLabel]="state.label"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </form>
</ng-container>
