<ng-container>
  <form
    nz-form
    class="login-form"
    nzLayout="vertical"
    [formGroup]="createUserForm"
    (ngSubmit)="createUser()"
  >


    <!-- Campo de Username -->
    <nz-form-item>
      <nz-form-label nzFor="username" nzRequired>Nome do instituição:</nz-form-label>
      <nz-form-control nzErrorTip="Informe um nome válido!" nzHasFeedback>
        <nz-input-group nzPrefixIcon="user" nzSize="large">
          <input
            type="text"
            nz-input
            formControlName="username"
            placeholder="Nome do instituição"
            id="username"
            autocomplete="username"
            required
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-col nzSm="24" nzXs="24">
      <nz-form-item>
        <nz-form-label nzFor="uf">UF</nz-form-label>
        <nz-form-control nzErrorTip="Escolha uma UF!">
          <nz-input-group nzSize="large">
            <nz-select
              id="uf"
              nzPlaceHolder="Selecione UF"
              nzAllowClear
              nzShowSearch
              formControlName="estadoAcronimo"
              style="width: 100%;"
            >
            <nz-option *ngFor="let state of states" [nzValue]="state.value" [nzLabel]="state.label"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>







    <!-- Campo de Cidaede -->
    <nz-form-item>
      <nz-form-label nzFor="email" nzRequired>Cidade:</nz-form-label>
      <nz-form-control nzErrorTip="Informe um e-mail válido!" nzHasFeedback>
        <nz-input-group nzPrefixIcon="city" nzSize="large">
          <input
            type="email"
            nz-input
            formControlName="email"
            placeholder="E-mail"
            id="email"
            autocomplete="email"
            required
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
</ng-container>
